<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Project</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<p>
						<a href="/project/create" class="btn btn-primary"><i
							class="fa fa-plus" aria-hidden="true"></i> Create New</a>
					</p>
					<h3 class="box-title">Project List</h3>
				</div>
				<div class="box-body">
					<table id="table1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Project ID</th>
								<th>Short Name</th>
								<th>Description</th>
								<th>Start Date</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${list}">
								<td th:text="${item.projectId}"></td>
								<td th:text="${item.shortName}"></td>
								<td th:text="${item.description}"></td>
								<td th:text="${item.startDate}"></td>
								<td th:text="${item.status}"></td>
								<td><a class="btn  btn-success btn-xs"
									th:href="@{/project/create(Id= ${item.id})}"><i
										class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a> | <a
									class="btn btn-info btn-xs"
									th:href="@{/project/details(Id= ${item.id})}"><i
										class="fa fa-list" aria-hidden="true"></i> Details</a> | <a
									class="btn  btn-danger btn-xs"
									th:onclick="'deletePatient(' + ${item.id} + ',this);'"><i
										class="fa fa-trash" aria-hidden="true"></i> Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<footer></footer>
<th:block layout:fragment="script">
	<script>
		$(function() {
			$('#table1').DataTable();
		})
		function deletePatient(id, sender) {
			showConfirmMsg("Delete project", "Are you sure to delete ?",
					"Yes Delete", function() {
						var token = $("[name='_csrf']").val();
						deleteByAjax('/project/delete?Id=' + id, token,
								function(result) {
									if (result.status == "SUCCESS") {
										$(sender).closest('tr').remove();
										deleteMessage("Delete success", true);
									} else {
										deleteMessage("Delete failed", false);
									}
								});
					})
		}
	</script>
</th:block>
</html>